.tools{
    display: flex;
    justify-content: center;
}
.img-size{
    height:8vh;
}
.sticky{
    height:12rem;
    width:14rem;
    background-color: yellow;
    position: absolute;
    top:20rem;
    left:20rem;
}
/* parent */
.nav-bar{

    height: 20%;
    width:100%;
    background-color: brown;
    display: flex;
    justify-content: flex-end;
   
}
.cRed{
    height: 80%;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
      margin-right: 0.5rem;
}
.cGreen{
    height: 80%;
    width: 2rem;
    background-color: green;
    border-radius: 50%;
     margin-left: 0.5rem;
}
.writingPad{
    height: 80%;
    width:100%;
    background-color: burlywood;
}
.text-area{
    height: 100%;
    width:97%;
}


.tool{
    position: relative;
}
.tool-options{
    height:6rem;
    width:12rem;
    background-color: chartreuse;
    position: absolute;
    top:4rem;left:-4rem;
    display: none;
}

.show{
    display: block;
}

.pencil-slider{
    height: 50%;
    width:100%;
    background-color: goldenrod;
}
.pencil-colors{
    height: 50%;
    width:100%;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
}
.color{
    height:90%;
    width:25%;
    border-radius: 50%;
    
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;

}
.green{
    background-color:green;
}